@import "../../scss/main.scss";

.input {
    @include size(284px, 52px);
    @include fontSettings($rubikBold, 15px, 24px, $black);
    background-color: $light-gray;
    border: 1px solid #d0d0d0;
    border-radius: 64px;
    text-align: center;
    outline: none;
}