// Fonts

$rubikRegular     : "Rubik 400", sans-serif;
$rubikBold        : "Rubik 700", sans-serif;
$rubikBlack       : "Rubik 900", sans-serif;
$materialIcons    : "Material Icons", sans-serif;
$awesome          : "Awesome", sans-serif;


// Colors

$white            : #FFFFFF;
$blue             : #00B6F0;
$light-gray       : #EFEFEF;
$black            : #20262A;
$black-gray       : #5c5c5c;
$yellow           : #f3cd03;
$blue-gray        : #112d57;
$blue-dark        : #112d57;
$bg-dark          : #182333;
