<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Components
        script 
          include ../../node_modules/jquery/dist/jquery.js
    body.components-body
      include ../includes/mixins

      .page-content
        include ../includes/header/header