.present-screen
  h1.present-screen__h1 Lightning fast prototyping
  .present-screen__text Most calendars are designed for teams. Slate is designed for freelancers.

  .present-btn-wrapper
    +button("Get Started")(style="width: 192px; ")
    +button("Try For Free", "white")(style="width: 192px; margin-left: 25px")

  img(src="/assets/images/controlpanel-app.jpg", alt="").controlpanel